# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR --export EZA_LL_OPTIONS:\x2dla\x1e\x2dF\x1e\x2d\x2dicons\x1e\x2d\x2dgroup\x2ddirectories\x2dfirst\x1e\x2d\x2dtime\x2dstyle\x3dlong\x2diso\x1e\x2d\x2dgit
SETUVAR --export EZA_LS_OPTIONS:\x2dla\x1e\x2dF\x1e\x2d\x2dicons\x1e\x2d\x2dgroup\x2ddirectories\x2dfirst\x1e\x2d\x2dtime\x2dstyle\x3dlong\x2diso\x1e\x2d\x2dno\x2dpermissions\x1e\x2d\x2dno\x2duser
SETUVAR --export EZA_LT_OPTIONS:\x2d\x2dtree\x1e\x2d\x2dno\x2dpermissions\x1e\x2d\x2dno\x2duser
SETUVAR --export EZA_STANDARD_OPTIONS:\x2dla\x1e\x2dF\x1e\x2d\x2dicons\x1e\x2d\x2dgroup\x2ddirectories\x2dfirst\x1e\x2d\x2dtime\x2dstyle\x3dlong\x2diso\x1e\x2d\x2dgit\x1e\x2do
SETUVAR __fish_initialized:3400
SETUVAR fish_key_bindings:fish_default_key_bindings
SETUVAR fish_user_paths:{{ .chezmoi.homeDir }}/\x2ecargo/bin\x1e{{ .chezmoi.homeDir }}/\x2elocal/bin\x1e/opt/homebrew/bin
