#!/bin/bash

{{ template "bash-lib" }}

#==============================================================================
# Mackup
#==============================================================================

info "Restoring configs via Mackup..."
brew install --quiet mackup
# Must uninstall because of bug with MacOS 14
# https://github.com/lra/mackup/issues/1924#issuecomment-1756330534
mackup restore --force && mackup uninstall --force

#==============================================================================
# iTerm2
#==============================================================================

info "Setting up iTerm2 preferences..."

# Specify the preferences directory
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.config/iterm2prefs"
# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

#==============================================================================
# Login items
#==============================================================================

info "Adding login items..."

list_login_items() {
  osascript -e 'tell application "System Events" to get the name of every login item'
}

add_login_item() {
  path="/Applications/$1.app"
  if [[ -d $path ]]
  then
    osascript -e "tell application \"System Events\" to make login item at end with properties {name: \"$1\",path:\"$path\",hidden:$2}"
  fi
}

{{ $apps := dict
      "Airfoil" "true"
      "AlDente" "true"
      "AltServer" "true"
      "Amethyst" "true"
      "Bartender 4" "true"
      "BetterDisplay" "true"
      "Flux" "true"
      "Hammerspoon" "true"
      "iTerm" "true"
      "KeepingYouAwake" "true"
      "Mail" "true"
      "Raycast" "true"
      "Shottr" "true"
      "SpaceId" "true"
-}}

{{ range $app, $hidden := $apps -}}

(list_login_items | grep -q "{{ $app }}") || add_login_item "{{ $app }}" "{{ $hidden }}"

{{ end -}}
