#!/bin/bash
set -eu

# npm packages hash: {{ include "packages/node-tools.txt" | sha256sum }}

{{ template "bash-lib" }}

#==============================================================================
# Install NodeJS packages
#==============================================================================

info "Installing global npm packages..."
while IFS= read -r package || [[ -n "$package" ]]; do
    [[ -z "$package" || "$package" =~ ^# ]] && continue
    npm install -g --loglevel=error "$package"
done < {{ .chezmoi.sourceDir }}/packages/node-tools.txt

success "Node toolchain installation complete!"
