#!/bin/bash
# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}

{{ template "bash-lib" }}

#==============================================================================
# Install Homebrew packages
#==============================================================================

if ! command -v brew &> /dev/null; then
    info "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

info "Installing Homebrew packages..."
export HOMEBREW_CASK_OPTS="--no-quarantine --force --overwrite"
brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile --no-lock

info "Cleaning up..."
brew autoremove
brew cleanup

#==============================================================================
# Accept Xcode license
#==============================================================================

if mas list | grep -q Xcode; then
  sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
  XCODE_VERSION=$(xcodebuild -version | grep '^Xcode\s' | sed -E 's/^Xcode[[:space:]]+([0-9\.]+)/\1/')
  ACCEPTED_LICENSE_VERSION=$(defaults read /Library/Preferences/com.apple.dt.Xcode 2> /dev/null | grep IDEXcodeVersionForAgreedToGMLicense | cut -d '"' -f 2)

  if [ "$XCODE_VERSION" != "$ACCEPTED_LICENSE_VERSION" ]; then
    xcodebuild -runFirstLaunch
    sudo xcodebuild -license accept
  fi
fi

#==============================================================================
# Configure fish shell
#==============================================================================

info "Configuring fish shell..."
if ! grep -q $(which fish) /etc/shells; then
     sudo bash -c 'echo $(which fish) >> /etc/shells'
     chsh -s $(which fish)
fi

#==============================================================================
# Configure docker + colima
#==============================================================================

info "Configuring docker + colima..."

# Compose is now a Docker plugin. For Docker to find this plugin, symlink it
mkdir -p ~/.docker/cli-plugins
ln -sfn /opt/homebrew/opt/docker-compose/bin/docker-compose ~/.docker/cli-plugins/docker-compose
ln -sfn /opt/homebrew/bin/docker-buildx ~/.docker/cli-plugins/docker-buildx

#==============================================================================
# Install Lua
#==============================================================================

info "Installing Lua & LuaJIT..."

uv tool install git+https://github.com/luarocks/hererocks

export MACOSX_DEPLOYMENT_TARGET=15.1
{{ .chezmoi.homeDir }}/.local/bin/hererocks ~/Projects/tools/lua/luajit --luajit @v2.1 --luarocks latest
{{ .chezmoi.homeDir }}/.local/bin/hererocks ~/Projects/tools/lua/lua5.4 --lua 5.4 --luarocks latest
{{ .chezmoi.homeDir }}/.local/bin/hererocks ~/Projects/tools/lua/lua5.1 --lua 5.1 --luarocks latest

#==============================================================================
# Misc
#==============================================================================

info "Adding bat themes..."
bat cache --build
