{{- $workOrg := promptStringOnce . "workOrg" "Work organisation directory under ~/Projects/work (empty for none)" -}}
[data]
    hostname = "{{ printf "%s-%s" "jf" .chezmoi.os  -}}"
    workOrg = {{ $workOrg | quote }}

[edit]
    command = "code"
    args = ["--wait"]
